from disnake.ext import commands


class EventHandler(commands.Cog):
    def __init__(self, bot: commands.Bot):
        self.bot = bot

    @commands.Cog.listener()
    async def on_ready(self):
        print(self.bot.user.name, "готов к работе")


def setup(bot):
    bot.add_cog(EventHandler(bot))
    